Source: ros-indigo-gazebo-ros-control
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 9.0.0), libgazebo6-dev, ros-indigo-angles, ros-indigo-catkin, ros-indigo-control-toolbox, ros-indigo-controller-manager, ros-indigo-joint-limits-interface, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-transmission-interface, ros-indigo-urdf
Homepage: http://ros.org/wiki/gazebo_ros_control
Standards-Version: 3.9.2

Package: ros-indigo-gazebo6-ros-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgazebo6-dev, ros-indigo-angles, ros-indigo-control-toolbox, ros-indigo-controller-manager, ros-indigo-gazebo6-ros, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-transmission-interface, ros-indigo-urdf
Conflicts: ros-indigo-gazebo-ros-control, ros-indigo-gazebo-ros-control-current, ros-indigo-gazebo4-ros-control, ros-indigo-gazebo5-ros-control
Description: gazebo_ros_control
